# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build outputs
/dist/
/build/
/.svelte-kit/
/.vite/

# Vite/Svelte
.vite
.svelte-kit

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/

# Env
.env
.env.*

# Capacitor
android/app/build/
android/app/release/
android/.gradle/
android/.idea/
android/local.properties
*.keystore
*.jks
*_base64.txt
rorope_key.keystore
rorope_key_base64.txt

# iOS
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/
